#swagger-copy-ext-copy-button {
  cursor : pointer;

  position: absolute;
  top: 10px;
  right: 15px;

  display: inline-block;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#swagger-copy-ext-copy-button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
